@model App.Models.DriverModels.LoopEntryModel;
@{
    ViewData["Title"] = "Loop";
}

<div class="flex flex-col justify-content-center border border-secondary text-center p-5 m-5">
    <form asp-action="EntryForm" method="POST">
        <input type="hidden" asp-for="BusId" />
        <input type="hidden" asp-for="DriverId" />
        <input type="hidden" asp-for="LoopId" />
        <div asp-validation-summary="ModelOnly" class="text-danger form-text"></div>
        <div class="form-group py-2 my-2">
            <label asp-for="StopId" class="control-label fs-3 text-light"></label>
            <select asp-for="StopId" class="form-select form-control">
                <option selected></option>
                @foreach(var stop in Model.Stops)
                {
                    <option value="@stop.Id" class="text-light">@stop.Name</option>
                }
            </select>
            <span asp-validation-for="StopId" class="text-danger form-text"></span>
        </div>
        <div class="form-group py-2 my-2">
            <label asp-for="Boarded" class="control-label fs-3 text-light"></label>
            <input asp-for="Boarded" class="form-control text-light" />
            <span asp-validation-for="Boarded" class="text-danger form-text"></span>
        </div>
        <div class="form-group py-2 my-2">
            <label asp-for="LeftBehind" class="control-label fs-3 text-light"></label>
            <input asp-for="LeftBehind" class="form-control text-light" />
            <span asp-validation-for="LeftBehind" class="text-danger form-text"></span>
        </div>
        <div class="form-group py-2 my-2">
            <input type="submit" value="Submit Entry" class="btn btn-primary btn-lg w-25 text-light" />
        </div>
    </form>
</div>
