@using BusShuttleModel
@model App.Models.DriverModels.DriverHomeModel;
@{
    ViewData["Title"] = "Driver Home";
}

<form asp-action="Index" method="POST">
    <div class="form-group">
        <select asp-for="LoopId" class="form-control">
            @foreach(var loop in Model.Loops)
            {
                <option value="@loop.Id">@loop.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <select asp-for="BusId" class="form-control">
            @foreach(var bus in Model.Buses)
            {
                <option value="@bus.Id">@bus.BusNumber</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Select" class="btn btn-primary" />
    </div>
</form>
