@using BusShuttleModel
@model App.Models.DriverModels.DriverHomeModel;
@{
    ViewData["Title"] = "Driver Home";
}

<div class="flex flex-col justify-content-center border border-secondary-subtle text-center p-5 m-5">
    <form asp-action="Index" method="POST">
        <div asp-validation-summary="ModelOnly" class="text-danger form-text"></div>
        <div class="form-group py-2 my-2">
            <label asp-for="LoopId" class="form-label fs-3 text-light"></label>
            <select asp-for="LoopId" class="form-select form-control bg-dark text-light">
                <option selected></option>
                @foreach(var loop in Model.Loops)
                {
                    <option value="@loop.Id" class="text-light bg-dark">@loop.Name</option>
                }
            </select>
        </div>
        <div class="form-group py-2 my-2">
            <label asp-for="BusId" class="form-label fs-3 text-light"></label>
            <select asp-for="BusId" class="form-select form-control bg-dark text-light">
                <option selected></option>
                @foreach(var bus in Model.Buses)
                {
                    <option value="@bus.Id" class="text-light bg-dark">@bus.BusNumber</option>
                }
            </select>
        </div>
        <div class="form-group py-2 my-2">
            <input type="submit" value="Start" class="btn btn-primary btn-lg w-25 text-light" />
        </div>
    </form>
</div>
