@model App.Models.Manager.EditDriverModel;
@{
    ViewData["Title"] = "Edit Driver";
}

<a asp-action="Index" class="link-info">Back to Table</a>
<div class="flex flex-col justify-content-center border border-secondary p-5 m-5 text-center">
    <form asp-action="EditDriver" method="POST">
        <div asp-validation-summary="ModelOnly" class="text-danger form-text"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />
        <div class="form-group py-2 my-2">
            <label asp-for="FirstName" class="control-label fs-3 text-light"></label>
            <input asp-for="FirstName" class="form-control text-light bg-dark" />
            <span asp-validation-for="FirstName" class="text-danger form-text"></span>
        </div>
        <div class="form-group py-2 my-2">
            <label asp-for="LastName" class="control-label fs-3 text-light"></label>
            <input asp-for="LastName" class="form-control text-light bg-dark" />
            <span asp-validation-for="LastName" class="text-danger form-text"></span>
        </div>
        <div class="form-group py-2 my-2">
            <input type="submit" value="Save" class="btn btn-primary btn-lg w-25 text-light"/>
        </div>
    </form>
</div>
