@model App.Models.Manager.CreateRouteModel;
@{
    ViewData["Title"] = "Create Route";
}

<h2>Route Creator</h2>
<a asp-action="Index">Back to Table</a>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRoute">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
