@model App.Models.Manager.DeleteStopModel
@{
    ViewData["Title"] = "Stop Remover";
}
<div class="container">
    <form asp-action="DeleteStop">
        <input type="hidden" asp-for="Id">
        <div class="vstack gap-3 text-center">
            <h2>Are you sure you want to delete this stop?</h2>
            <div class="hstack gap-5 justify-content-center">
                <button input="submit" class="btn btn-lg btn-primary">Yes</button>
                <a asp-action="Index" class="btn btn-lg btn-primary">No</a>
            </div>
        </div>
    </form>
</div>
