@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if(User.IsInRole("Manager")) 
{
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#managementNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="managementNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a asp-action="BusView">Buses</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="DriverView">Drivers</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="RouteView">Routes</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="StopView">Stops</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="LoopView">Loops</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="EntryView">Entries</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}
@if(User.IsInRole("Driver"))
{
    <h1>Hello Driver! This page has actually been made yet, but stay toned! :3</h1>
}
