@{
    ViewData["Title"] = "Manager Home";
}

<div class="flex flex-col justify-content-center border border-secondary p-5 m-5 text-center">
    <p class="fs-2">Management Navigator</p>
    <div class="flex flex-row w-100 text-center my-3">
        <a 
            asp-controller="BusManager" asp-action="Index"
            class="text-light btn btn-primary btn-lg w-25" 
        >
            Buses
        </a>
    </div>
    <div class="flex flex-row w-100 text-center my-3">
        <a 
            asp-controller="DriverManager" asp-action="Index"
            class="text-light btn btn-primary btn-lg w-25" 
        >
            Drivers
        </a>
    </div>
    <div class="flex flex-row w-100 text-center my-3">
        <a 
            asp-controller="RouteManager" asp-action="Index"
            class="text-light btn btn-primary btn-lg w-25" 
        >
            Routes
        </a>
    </div>
    <div class="flex flex-row w-100 text-center my-3">
        <a
            asp-controller="StopManager" asp-action="Index" 
            class="text-light btn btn-primary btn-lg w-25"
        >
            Stops
        </a>
    </div>
    <div class="flex flex-row w-100 text-center my-3">
        <a 
            asp-controller="LoopManager" asp-action="Index"
            class="text-light btn btn-primary btn-lg w-25"
        >
            Loops
        </a>
    </div>
    <div class="flex flex-row w-100 text-center my-3">
        <a
            asp-controller="EntryManager" asp-action="Index"
            class="text-light btn btn-primary btn-lg w-25"
        >
            Entries
        </a>
    </div>
</div>
