@{
    ViewData["Title"] = "Manager Home";
}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid flex-column gap-3">
        <p class="navbar-brand fs-2">Management</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#managementNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-100" id="managementNavbar">
            <ul class="navbar-nav nav w-100 gap-3 me-auto mb-2 mb-lg-0 fs-3 flex flex-column align-items-center">
                <li class="nav-item border border-dark border-1 py-1 px-5 bg-primary">
                    <a class="nav-link text-dark" asp-controller="BusManager" asp-action="Index">Buses</a>
                </li>
                <li class="nav-item border border-dark border-1 py-1 px-5 bg-primary">
                    <a class="nav-link text-dark" asp-controller="DriverManager" asp-action="Index">Drivers</a>
                </li>
                <li class="nav-item border border-dark border-1 py-1 px-5 bg-primary">
                    <a class="nav-link text-dark" asp-controller="RouteManager" asp-action="Index">Routes</a>
                </li>
                <li class="nav-item border border-dark border-1 py-1 px-5 bg-primary">
                    <a class="nav-link text-dark" asp-controller="StopManager" asp-action="Index">Stops</a>
                </li>
                <li class="nav-item border border-dark border-1 py-1 px-5 bg-primary">
                    <a class="nav-link text-dark" asp-controller="LoopManager" asp-action="Index">Loops</a>
                </li>
                <li class="nav-item border border-dark border-1 py-1 px-5 bg-primary">
                    <a class="nav-link text-dark" asp-controller="EntryManager" asp-action="Index">Entries</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
