@model App.Models.CreateEntryModel;
@{
    ViewData["Title"] = "Create Entry";
}

<h2>Entry Creator</h2>
<a asp-action="Index">Back to Table</a>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEntry">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Boarded" class="control-label"></label>
                <input asp-for="Boarded" class="form-control" />
                <span asp-validation-for="Boarded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeftBehind" class="control-label"></label>
                <input asp-for="LeftBehind" class="form-control" />
                <span asp-validation-for="LeftBehind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusId" class="control-label"></label>
                <input asp-for="BusId" class="form-control" />
                <span asp-validation-for="BusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverId" class="control-label"></label>
                <input asp-for="DriverId" class="form-control" />
                <span asp-validation-for="DriverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoopId" class="control-label"></label>
                <input asp-for="LoopId" class="form-control" />
                <span asp-validation-for="LoopId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopId" class="control-label"></label>
                <input asp-for="StopId" class="form-control" />
                <span asp-validation-for="StopId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
