@model App.Models.Manager.AddRouteToLoopModel;
@{
    ViewData["Title"] = "Add Route To Loop";

}

<a asp-action="EditRoutesInLoop" class="link-info">Back to Routes</a>
<div class="flex flex-col justify-content-center border border-secondary p-5 m-5 text-center">
    <form asp-action="AddRoute" method="POST">
        <input type="hidden" asp-for="LoopId" />
        <input type="hidden" asp-for="Routes" />
        <div class="form-group py-2 my-2">
            <select asp-for="RouteId" class="form-control bg-dark text-light">
                @foreach(var route in Model.Routes)
                {
                    <option value="@route.Id" class="text-light bg-dark">@route.Id</option>
                }
            </select>
        </div>
        <div class="form-group py-2 my-2">
            <input type="submit" value="Add" class="btn btn-primary btn-lg w-25 text-light"/>
        </div>
    </form>
</div>
