@model App.Models.Manager.AddRouteToLoopModel;
@{
    ViewData["Title"] = "Add Route To Loop";

}

<form asp-action="AddRoute" method="POST">
    <input type="hidden" asp-for="LoopId" />
    <input type="hidden" asp-for="Routes" />
    <div class="form-group">
        <select asp-for="RouteId" class="form-control">
            @foreach(var route in Model.Routes)
            {
                <option value="@route.Id">@route.Id</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>
