@model App.Models.Manager.EditRoutesInLoopModel;
@{
    ViewData["Title"] = "Loop Routes";
}

<a asp-action="Index" class="link-info">Back to Table</a>
<div class="flex flex-col justify-content-center border border-secondary p-5 m-5 text-center">
    <table class="table table-striped border border-light">
        <thead>
            <tr>
                <th class="text-light">
                    Id
                </th>
                <th class="text-light">
                    Order
                </th>
                <th class="text-light"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Routes)
            {
                <tr>
                    <td class="text-light">
                        @item.Id
                    </td>
                    <td class="text-light">
                        @item.Order
                    </td>
                    <td class="text-light">
                        <a asp-action="RemoveRoute" asp-route-id="@item.Id" class="link-warning">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button asp-action="AddRoute" asp-route-id="@Model.LoopId" class="btn btn-primary btn-lg w-25 text-light">
        Add Route
    </button>
</div>
